.container {
  display: flex;
  flex-direction: column;
  max-width: 364px;
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.02em;
}

.inputContainer {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
  box-shadow: 0 0 0 1px #dedede inset;
  border-radius: 6px;
  padding: 12px 13px;
}

.inputContainer:hover {
  box-shadow: 0 0 0 3px #dedede inset;
}

.inputContainer:focus-within {
  box-shadow: 0 0 0 1px #9f9f9f inset;
}

.searchIcon {
  color: #7d7d7d;
}

.inputText {
  width: 100%;
  outline: none;
  border: none;
}
